.header{
    padding: 0rem 0%;
    background:linear-gradient(#efe69a, #dbc78b);
}
.header .row-wrapper{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .row-wrapper .search-form button{
    background-color: #ffffff;
    margin-left: 3px;
    padding: 14px;
    border: #ffffff;
    border-radius: 10px 30px 30px 10px;
    font-size: 1rem;
    cursor: pointer;
}
.header .row-wrapper .search-form button:hover{
    background-color: var(--color-black);
    color: var(--color-white);
}

.header .row-wrapper .search-form input{
    padding:15px;
    border-radius: 30px 10px 10px 30px;
    background-color: var(--color-black);
    border: #ffffff;
    color: var(--color-white);
    font-weight: bold;
}

.header .row-wrapper .menu ul{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;
    list-style-type: none ;
}

.header .row-wrapper .menu ul li{
    position: relative;
    padding: 10px;

}
.header .row-wrapper .menu ul li a{
    color: var(--color-black);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.header .row-wrapper .menu ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-black);
    transition: width 0.3s ease-in-out;

}
.header .row-wrapper .menu ul li a:hover::after{
    width: 100%;

}
.header .row-wrapper .menu ul li a i{
    margin-left: 15px;
}
.header .row-wrapper .menu .dropdown{
    position: absolute;
    display: block;
    background-color: var(--color-white);
    width: 200px;
    top: 40px;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;

}
.header .row-wrapper .menu .dropdown li a{
    font-size: 0.9rem;
}
.header .row-wrapper .icons ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .row-wrapper .icons ul li a{
    display: inline-block;
    color: var(--color-black);
    font-size: 1.1rem;
    transition: transform 0.3s ease-in-out;
}
.header .row-wrapper .icons ul li a:hover{
    transform: scale(1.2);
    
}

/*Mobile Menu*/
.mobile-menu{
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background-color: #efe69a;
    box-shadow: 0px 0px 10px var(--color-black);
    padding:20px;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-menu.open{
    right: 0px;
}

.mobile-menu ul{
    padding: 0;
    width: 100%;
}
.mobile-menu ul li{
    list-style-type: none;
    margin-bottom: 20px;
    padding:10px ;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 10px;
    cursor: pointer;

}
.mobile-menu ul li a{
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.mobile-menu ul li a:hover{
    color: var(--color-orange);
}
.mobile-submenu{
    margin-top: 10px;
}
.mobile-submenu li{
    padding: 5px 0px !important;
    border: none !important;
    margin-bottom: 0px !important;

}
.mobile-menu-button{
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
    margin-left: 8px;
}
.mobile-menu button i{
    color: var(--color-black);

}
.mobile-logo{
    display: none;
    position: relative;
    z-index: 999;
}

@media screen and (max-width:1440px){
    .header{
        padding: 0rem 0%;
    }
    .header .row-wrapper{
        width: 100%;
    }
}
@media screen and (max-width:1100px) {
    .header .row-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .header .row-wrapper .search-form{
        display: none;
    }
    .header .row-wrapper .menu{
        display: none;
    }
    .header .row-wrapper .icons{
        display: none;
    }
    .mobile-menu-button{
        display: block;
    }
    .mobile-logo{
        display: block;
    }
    
}
