@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kablammo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #363636;
  --color-green: #57e140;
  --color-orange:#d83333;

}

body{
  font-family: "Source Sans 3", sans-serif;
  background-color: #1f1f1f;
  color: var(--color-white);
}

/*All Basic Colors*/
